# Ignore radamsa testing files created by shell script in Java_app
/Placement_projects/java_app/radamsaTesting/radamsaOutputFiles/*

# Ignore log files
*.log

# Ignore class files
*.class

# Java App output file
/Placement_projects/java_app/outputFile.txt
